<a href="https://colab.research.google.com/github/StutiAttri/testrepo/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment

Q1-Write a Python program to check if a string is a palindrome. A palindrome is a word or phrase that reads the same backward as forward. For example, "malayalam" is a palindrome.

In [ ]:
#que1 palindrome
string=input("enter any string : ")
if(string==string[::-1]):
    print("given string is palindrome")
else:
    print("given string is not palindrome")

enter any string : radar
given string is palindrome

Q2-Write a Python program to check if a string contains all the letters of the alphabet.

In [ ]:
#ques2 to check if string contain any aplhabet
import string
alphabet=set(string.ascii_lowercase)
inp="qwwertyui opasdfg hjkl  m"
if(set(inp.lower())>=alphabet):
    print("the input string contains all the letters of the alphabet.")
else:
    print("doent contain all letter")

doent contain all letter

Q3-Write a Python program to find the longest word in a string.

In [ ]:
#ans3 finding longest word in string
def longest_word(s):
    words = s.split()
    longest = ""
    max_length = 0
    for word in words:
        if len(word)>max_length:
            longest=word
            max_length = len(word)
    return longest
s = input("Enter any string:")
print("Longest word:",longest_word(s))

Enter any string:my name is stuti
Longest word: stuti

Q4-Write a Python program to count the number of vowels in a string.

In [ ]:
def vowel_count(string):
    count=0
    vowel=set("aieouAEIOU")
    for char in string:
        if char in vowel:
            count+=1
    return count
input_string = input("Enter any string: ")
result = vowel_count(input_string)
print("Number of vowels:", result)

Enter any string: python
Number of vowels: 1

Q5-Write a Python program to check if a string is a sentence. A sentence is a string that starts with a capital letter and ends with a period.

In [ ]:
def is_sentence(text):
    # Check if the text is not empty and starts with a capital letter
    if text and text[0].isupper():
        # Check if the text ends with a period
        if text[-1] == '.':
            return True
    return False

sentence1 = "This is a sentence."
sentence2 = "this is not a sentence"


print(is_sentence(sentence1))
print(is_sentence(sentence2))

True
False

Q19-Write List comprehensions to produce the following Lists ['A', 'C', 'A', 'D', 'G', 'I',' L', 'D'] ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz'] ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz'] [[2], [3], [4], [3], [4], [5], [4], [5], [6]] [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]] [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)

In [ ]:
#Q18
L1=[char for char in 'ACADGILD']
L2=[char*i for char in 'xyz'for i in range (1,5)]
L3=[char*i for i in range(1,5) for char in'xyz']
L4=[[num+i] for num in range(2,5) for i in range(3) ]
L5=[[num + i for i in range(4)] for num in range(2, 6)]
L6=[(j, i) for i in range(1, 4) for j in range(1, 4)]
print("list1: ",L1)
print("list2: ",L2)
print("list3: ",L3)
print("list4: ",L4)
print("list5: ",L5)
print("list6: ",L6)

list1:  ['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']
list2:  ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
list3:  ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
list4:  [[2], [3], [4], [3], [4], [5], [4], [5], [6]]
list5:  [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]
list6:  [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

Q20- Program to find out the elements in a list in which elements are ended with the letter 'b' and the length of that element is greater than 2

In [ ]:
#Q20
input_list = ['abbab', 'cddghs', 'bvnsb', 'aaaa', 'jsjjsjs', 'b']
result_list = [word for word in input_list if word.endswith('b') and len(word) > 2]
print(result_list)

['abbab', 'bvnsb']

Q21- program to reverse each string in a tuple with the help of list comprehension.

In [ ]:
#Q21
j=0
t1=(1,2,3,4,5,6,7,8,9)
print("original tuple",t1)
print("reversed tuple",t1[::-1])

original tuple (1, 2, 3, 4, 5, 6, 7, 8, 9)
reversed tuple (9, 8, 7, 6, 5, 4, 3, 2, 1)

Q22- Find the common elements in multiple sets.

In [ ]:
#Q22
set1=set([1,2,3,4,5,6])
set2=set([5,6,7,8,9,10])
common=set1&set2
print("set1: ",set1)
print("set2: ",set2)
print("common elements in both sets",common)

set1:  {1, 2, 3, 4, 5, 6}
set2:  {5, 6, 7, 8, 9, 10}
common elements in both sets {5, 6}

Q23- Remove the Elements from one set that are present in another

In [ ]:
print("removing the Elements from one set that are present in another",set1-set2)

removing the Elements from one set that are present in another {1, 2, 3, 4}

Q24- Check if two sets are disjoint.

In [ ]:
#Q24
set3=set([11,22,33])
if set1.isdisjoint(set3):
    print("disjoint set")
else:
     print("have common elments")

disjoint set

Q25-Find the maximum and minimum elements from a set of sets

In [ ]:
#Q25
set_of_sets = {frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({7, 8, 9, 10})}
max_element = max({element for subset in set_of_sets for element in subset})
min_element = min({element for subset in set_of_sets for element in subset})
print("Maximum element:", max_element)
print("Minimum element:", min_element)

Maximum element: 10
Minimum element: 1

Q26-You have a list of dictionaries. Each dictionary represents a student with keys 'name', 'grade', and 'age'. Write a function that takes this list as an argument and returns a new list of dictionaries sorted by grade in descending order. If two students have the same grade, sort them by name in ascending order..

In [ ]:
students = [
    {'name': 'Anya', 'grade': 85, 'age': 19},
    {'name': 'Brown', 'grade': 75, 'age': 20},
    {'name': 'Cavid', 'grade': 85, 'age': 21},
    {'name': 'Daniel', 'grade': 90, 'age': 19}
]
sorted_students = sorted(students, key=lambda x: (-x['grade'], x['name']))
for student in sorted_students:
    print(student)

{'name': 'Daniel', 'grade': 90, 'age': 19}
{'name': 'Anya', 'grade': 85, 'age': 19}
{'name': 'Cavid', 'grade': 85, 'age': 21}
{'name': 'Brown', 'grade': 75, 'age': 20}

Q27- you have a string that represents a mathematical expression. Write a function that takes this string as an argument and returns the result of the expression. The function should handle addition, subtraction, multiplication, and division. The function should also handle parentheses for grouping operations.

In [ ]:
import re
def evaluate_expression(expression):
  expression=re.sub(r'\s','',expression)
  expression=expression.replace('x','*')
  expression=expression.replace('รท','*')

  try:
    result=eval(expression)
  except Exception as e:
    print(f"error: {e}")
    result=None
  return result

In [ ]:
expression="2+(3*4)/(2-1)"
result=evaluate_expression(expression)
print(result)

14.0